/* change box model */
:root {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}

/* fix main margins */
body {
  margin: 0;
}
header h1 {
  margin: 0;
}

/*****************************/
table#t01{
  border: 1px solid black;
  width: 100%;
}
table#t01 tr, td{
  border: 1px solid black;
}
#obrazek{
	 background-image: url('obraz.jpg');
	 height: 300px;
	 width: 300px;
}
#obrazek:hover{
	background-image: url('rekin.jpg');
	height: 300px;
	width: 300px;
}
#welcome {
  position: relative;
  display: inline;
  color: #700;
}
#counter {
  position: relative;
  top: 10px;
}
#message {
  color: #070;
  font-size: 250%;
  display: none;
}
/****************************/
/* background colors and global font */
body {
  background-color: #b3ffb3;
  font-family: 'Arial', cursive;
}
.container2 {
  background-color: #e6ffb3;
}
.container {
  background-color: #b3ffb3;
}
.footer {
  background-color: #009900;
}
.header {
  background-color: #009900;
}
nav ul {
  background-color: #e6ffb3;
}
nav li {
  background-color: #e6ffb3;
  border-color: #2db300;
}
main {
  background-color: #e6ff99;
  border-width: 3px;
  border-style: solid;
  border-color: #336600
}
aside {
  background-color: #336600;
}

/* move elements from borders */
main > *, aside > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* use at least 50% of height (stretch background color) */
.main {
  display: flex;
  min-height: 50vh;
}
/* place footer sized 3em at bottom of page */
.container {
  position: relative;
}
.main {
  
}
.footer {
  position: relative;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

/* center text in footer */
.footer {
  text-align: center;
}

/* adjust header */
header h1 {
 padding: 0.67em;
 text-align: center;
}

/* menu */
nav ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  text-align: center;
}
nav li {
  display: inline-block;
  width: 170px;
  border-width: 4px;
  border-style: solid;
  line-height: 2em;
}
nav a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000;
}
nav a#active {
  font-weight: bold;
}

/* default layout for small screens */
.main {
  flex-wrap: wrap;
}
main, aside {
  flex: 0 0 100%;
}

/* design for large screens */
@media all and (min-width: 800px) {
  /* constant width, centered */
  .container {
    width: 800px;
    margin: 0 auto;
  }
  /* 2 columns layout using flexbox */
  .main {
    flex-wrap: nowrap;
  }
  main {
    flex: 7;
  }
  aside {
    flex: 3;
  }
}
